@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --color-primary: #facc15;
    --color-primary-shade-1: #fefce8;
    --color-primary-tint-1: #e1b813;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .heading-h1 {
    @apply text-2xl font-bold font-serif;
  }
  .btn-primary {
    @apply bg-color-primary text-sm px-2 py-1 font-serif rounded-sm;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* .focus-visible\:ring-offset-2:focus-visible {
  offset-distance: 1px !important;
  color: var(var(--color-primary)) !important;
} */

input[type="checkbox"] {
  accent-color: var(--color-primary);
  padding: 0.3rem;
}

.btn-active {
  color: var(--color-primary-tint-1);
}

.btn-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-primary-tint-1);

  transition: width 0.3s;
}

.active {
  background-color: var(--color-primary-shade-1);
  color: #333;
}
.active svg path {
  stroke: #ca8a04 !important;
}
.recharts-sector {
  outline: 0;
}

.table_modify {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  /* table-layout: fixed; */
}

.icon-heart {
}

.product__thumbnails img {
  height: 70px;
}
@media (max-width: 600px) {
  .product__thumbnails img {
    height: 50px;
  }
}
table caption {
  font-size: 1.5rem;
  margin: 0.5em 0 0.75em;
  text-align: left;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  border: 1px solid #ddd;
}

table th {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right !important;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: var(--color-primary) !important;
  text-align: center !important;
}
